php_vid/The PHP Practitioner- Classes 101.mp4 php_vid/The PHP Practitioner- Hide Your Secret Passwords.mp4 php_vid/The PHP Practitioner- Intro to PDO.mp4 php_vid/The PHP Practitioner- MySQL 101.mp4 php_vid/The PHP Practitioner- PDO Refactoring and Collaborators.mp4 php_vid/The PHP Practitioner- Step 10- Functions.mp4 php_vid/The PHP Practitioner- Step 4- PHP and HTML.mp4 php_vid/The PHP Practitioner- Step 5- Separate PHP Logic From Presentation.mp4 php_vid/The PHP Practitioner- Step 7- Associative Arrays.mp4 php_vid/The PHP Practitioner- Step 8- Booleans.mp4 php_vid/The PHP Practitioner- Step 9- Conditionals.mp4 php_vid/video6.mp4
